#title{
    margin-top: 1.5rem;
    font-size: 50px;
    text-align: center;
}
main{
    margin: 1.5rem;
}
#descr{
    text-align: center;
    color: grey;
    font-size: medium;
}
#service_title{
    text-align: center;
    margin-top: 3.25rem;
    font-size: 25px;
}
.mdui-chip-title{
    color: cornflowerblue;
}
.footer {
    position: fixed;
    left: 10px;
    bottom: 5px;
    right: 10px; 
    width: 95%;
    text-align: center;
    }
